<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky ">
  <a class="navbar-brand ml-2 fw-bolder" routerLink="/quiz" ><h1 style="color: gold; text-align: center;font-weight: bold; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; ">       Online Quiz</h1></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    
  </button>
</nav>

<div class="container  mt-5">
  <router-outlet></router-outlet>
</div>

<footer class="bg-dark text-center text-lg-start mt-5">
  <div class="text-center p-3 text-light fw-bold">
    Phase Project: Online Test Application
  </div>
</footer>
